@charset "utf-8";

/* CSS Reset */
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0; 
    padding: 0; 
    border: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
    display: block;
}
body{
    font-size: 16px; 
    line-height:unset;
    color: #333;
}
ol, ul{
    list-style: none;
}
table{
    border-collapse: collapse; 
    border-spacing: 0;
}
address{
    font-style: normal;
}
a{
    color: #333; 
    text-decoration: none;
}
img{
    border: 0; 
    vertical-align: top;
}
.hidden{
    display: block; 
    position: absolute;
    left: -1000%; 
    width: 1px; 
    height: 1px;
    overflow: hidden; 
    color: #fff;
}

.wrapper {
    width: 100%;
  
}
.wrapper .container {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 15px;
}
.wrapper #header_area{
    width: 1130px;
    margin: 0 auto;
}

#header_area .header_inner .top_menu{
    overflow: hidden;
}
#header_area .header_inner .top_menu ul li a{
    display: inline-block;
    float: right;
}
#header_area .header_inner .top_menu ul li:nth-child(2) a::before {
    display: block;
    content: "";
    width: 80px;
    height: 19px;
    background: url(/images/naver.png)no-repeat right -329px;
    background-position-x: -353px;
    margin-top: 3px; 
}
#header_area .header_inner .top_menu ul li:nth-child(2) a:hover::before {
    display: block;
    content: "";
    width: 80px;
    height: 19px;
    background: url(/images/naver.png)no-repeat center -329px;
    background-position-x: -431px;
    margin-top: 3px;
}
#header_area .header_inner .top_menu ul li:nth-child(1) a::before {
    display: block;
    content: "";
    width: 55px;
    height: 19px;
    background: url(/images/naver.png)no-repeat center -176px;
    background-position-x: -265px;
    margin-top: 3px;
}
#header_area .header_inner .top_menu ul li:nth-child(1) a:hover::before {
    display: block;
    content: "";
    width: 55px;
    height: 19px;
    background: url(/images/naver.png)no-repeat center -245px;
    background-position-x: -466px;
    margin-top: 3px;
}

#header_area .header_inner .top_menu ul li:nth-child(3){
    margin-top: 3px;
}
#header_area .header_inner .top_menu ul li:nth-child(3) a{
    font-size: 11px;
}
#header_area .header_inner .top_menu ul li:nth-child(3) a:hover{
    text-decoration: underline;
}
#header_area .header_inner .top_menu ul li:nth-child(3) a::after {
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background: url(/images/naver.png)no-repeat left -439px;
    background-position-x: -468px;
    vertical-align: middle;
}
#header_area .header_inner::before {
    content: '';
    display: block;
    border-top: 1px solid lightgrey;
    width: 100%;
    left: 0;
    top: 200px;
    position: absolute;
}


#header_area .header_inner .logo{
    width: 280px;
    margin-top: 40px;
    float: left;
}
#header_area .header_inner .logo_img{
    overflow: hidden;
    padding-bottom: 70px;
}
#header_area .header_inner .logo_img h1 a{
    display: block;
    height: 70px;
    text-indent: -999%;
    overflow: hidden;
    background: url(/images/naver.png)no-repeat left;
    background-position: 0 -195px;
}

/* 검색창 */

#header_area .header_inner .search_bar{
    float: right;
    margin-top: 50px;
    margin-right: 290px;
}
#header_area .header_inner .search_bar form{
    border: 2px solid #19ce60;
}
#header_area .header_inner .search_bar form input{
    margin: 8px 10px;
    width: 450px;
    height: 30px;
    border: transparent;
    outline: none;
}
#header_area .header_inner .search_bar form button{
    outline: 2px solid #16ce09;
    height: 55px;
    width: 55px;
    color: #fff;
    background: #16ce09;
    border: none;
    cursor: pointer;
}
#header_area .header_inner .search_bar form button i{
    font-size: 25px;
}


/* 네비게이션 */

#header_area .header_inner nav ul{
    display: inline-block;
}
#header_area .header_inner nav ul li {
    float: left;
   
}
#header_area .header_inner nav ul li a{
    font-size: 15px;
    vertical-align: middle;
    padding-right: 8px;
    
}
#header_area .header_inner nav .left_menu li a{
    color: #03c75a;
}
#header_area .header_inner nav .left_menu li:nth-child(1) a::before {
    content: '';
    display: block;
    width: 35px;
    height: 27px;
    float: left;
    background: url(/images/naver.png)no-repeat right -350px;
    margin-right: 5px;
}
#header_area .header_inner nav .left_menu li:nth-child(5) a::before {
    content: '';
    display: block;
    width: 35px;
    height: 27px;
    float: left;
    background: url(/images/naver.png)no-repeat right -288px;
    margin-right: 5px;
}
#header_area .header_inner nav .left_menu li:nth-child(6) a::before {
    content: '';
    display: block;
    width: 72px;
    height: 27px;
    float: left;
    background: url(/images/naver.png)no-repeat center -380px;
    margin-right: 5px;
    background-position-x: -250px;
}
#header_area .header_inner nav .left_menu li:nth-child(8) a::before {
    content: '';
    display: block;
    width: 22px;
    height: 20px;
    float: left;
    background: url(/images/naver.png)no-repeat center -264px;
    margin-top: 7px;
    background-position-x: -314px;
}
#header_area .header_inner nav .left_menu2 li:nth-child(9) a{
    font-size: 13px;
    font-weight: 500;
}
#header_area .header_inner nav .left_menu2 li:nth-child(9) a::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 11px;
    background: url(/images/naver.png)no-repeat left -368px;
    background-position-x: -104px;
    margin-left: 5px;
}


#gnb .right_menu{
    float: right;
}
#gnb .right_menu li a{
    font-size: 13px;
}
#gnb .right_menu li a strong::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 27px;
    background: url(/images/naver.png)no-repeat right -378px;
    background-position-x: -409px;
    margin-right: 5px;
    vertical-align: bottom;
}
#gnb .right_menu li:nth-child(2) a::before {
    content: '';
    display: inline-block;
    width: 1.5px;
    height: 15px;
    background: lightgrey;
    margin-right: 10px;
}
#gnb .right_menu li:nth-child(2) strong{
    margin-right: 8px;
}




#header_area article .advertisement{
    float: left;
}
#header_area article .advertisement img{
    width: 750px;
    border: 0.8px solid #999;

}

.wrapper article{
    width: 1130px;
    margin: 0 auto;
    padding-top: 25px;
}
.wrapper article .advertisement{
    float: left;
}
.wrapper article .advertisement img{
    width: 700px;
    border: 1px solid lightgrey;

}

/* 로그인 박스 */

.wrapper article .log_box{
    float: right;
    width: 370px;
    height: 187px;
    border: 1px solid lightgrey;
    background: #f7f9fa;
}
.wrapper article .log_box .info{
    float: left;
    padding: 28px 0 29px 10px;
}
.wrapper article .log_box .info .width_size{
    margin-left: 15px;
}
.wrapper article .log_box .info li{
    float: left;
    font-size: 14px;
}
.wrapper article .log_box .info li img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid lightgrey;
}
.wrapper article .log_box .info li dl {
    line-height: 27px;
}
.wrapper article .log_box .info li dl dt p{
    float: left;
}
.wrapper article .log_box .info li dl dt p strong{
    padding-right: 10px;
}
.wrapper article .log_box .info li dl dt p strong::after{
    content: "";
    display: inline-block;
    background: lightgrey;
    width: 2px;
    height: 13px;
    margin-left: 5px;
}
.wrapper article .log_box .info li dl dt .my_info{
    font-size:12px;
}
.wrapper article .log_box .info li dl dt .my_info::after{
    content: '';
    display: inline-block;
    width: 15px;
    height: 17px;
    vertical-align: sub;
    background: url(/images/naver.png)no-repeat right -69px;
    background-position-x: -508px;
    margin-left: 5px;
}
.wrapper article .log_box .info li dl dd p{
    float: left;
    padding-right: 19px;
}
.wrapper article .log_box .info li dl dd p .color {
    color: #03c75a;
    font-weight: bold;
    font-size: 13px;
    padding-left: 3px;
}
.wrapper article .log_box .info li:nth-child(3){
    float: left;
}
.wrapper article .log_box .info li .logout{
    border-radius: 14px;
    color: #fff;
    background: lightgrey;
    font-size: 12px;
    padding: 10px;
    border: transparent;
    cursor: pointer;
}
.wrapper article .log_box .list{
    position: relative;
    display: inline-block;
    border-top: 1px solid lightgrey;
    width: 100%;
}
.wrapper article .log_box .list li {
    float: left;
    padding: 15px 20px;
    border-right: 1px solid lightgrey;
    font-size: 13px;
}
.wrapper article .log_box .list li:nth-child(5) {
    border-right: transparent;
    padding-left: 20px;
}
.wrapper article .log_box .list li:nth-child(5)::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background: url(/images/naver.png)no-repeat left -435px;
    background-position-x: -108px;
    right: -28px;
    bottom: 27px;
    cursor: pointer;

}